.sales-table{
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 600;
  padding: 20px;
  cursor: default;
}

td {
  padding: 15px;
}

th,
td {
  border-bottom: 1px solid #f0f0f2;
  text-align: center;
}